<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CefSharp.Common" version="136.1.40" targetFramework="net472" />
  <package id="CefSharp.OffScreen" version="136.1.40" targetFramework="net472" />
  <package id="CefSharp.WinForms" version="136.1.40" targetFramework="net472" />
  <package id="chromiumembeddedframework.runtime.win-x64" version="136.1.4" targetFramework="net472" />
  <package id="chromiumembeddedframework.runtime.win-x86" version="136.1.4" targetFramework="net472" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.5" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="SocketIO.Core" version="3.1.2" targetFramework="net472" />
  <package id="SocketIO.Serializer.Core" version="3.1.2" targetFramework="net472" />
  <package id="SocketIO.Serializer.SystemTextJson" version="3.1.2" targetFramework="net472" />
  <package id="SocketIOClient" version="3.1.2" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.CodeDom" version="9.0.5" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="9.0.5" targetFramework="net472" />
  <package id="System.Management" version="9.0.5" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="9.0.5" targetFramework="net472" />
  <package id="System.Text.Json" version="9.0.5" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>